/* Define a fonte e a cor padrão para o corpo do documento */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333333; /* Cor do texto */
}

/* Estiliza o elemento <h1> com sublinhado e itálico */
h1 {
    text-decoration: underline; /* Sublinha o texto */
    font-style: italic; /* Torna o texto itálico */
}

/* Estiliza o elemento <h2> com uma fonte serifada e negrito */
h2 {
    font-family: 'Times New Roman', Times, serif; /* Define a fonte serifada */
    font-weight: bold; /* Torna o texto em negrito */
}

/* Estiliza o elemento <header> com um fundo azul claro e borda azul */
header {
    background-color: cornflowerblue; /* Cor de fundo */
    border: 2px solid blue; /* Borda azul de 2px */
    transition: border-radius 0.3s; /* Transição suave para o arredondamento das bordas */
    text-align: center; /* Centraliza o texto dentro do header */
}

/* Adiciona arredondamento suave às bordas do <header> quando o mouse está sobre ele */
header:hover {
    border-radius: 20px; /* Define o raio do arredondamento das bordas */
}

/* Estiliza todos os elementos <h1> a <h6> dentro do <header> */
header h1, header h2, header h3, header h4, header h5, header h6 {
    transition: transform 0.2s; /* Adiciona uma transição suave para a transformação */
}

/* Aumenta o tamanho do texto quando o mouse está sobre qualquer <h1> a <h6> dentro do <header> */
header h1:hover, header h2:hover, header h3:hover, header h4:hover, header h5:hover, header h6:hover {
    transform: scale(2.0); /* Aumenta o tamanho do texto para o dobro do tamanho original */
}

/* Estilos para a barra de navegação */
nav {
    background-color: #333333; /* Cor de fundo */
    border: solid 2px #ff0000; /* Borda vermelha */
    border-style: inset; /* Estilo da borda */
    width: 100%; /* Largura total */
}

ul {
    display: flex; /* Exibir os itens em linha */
    flex-direction: row; /* Direção dos itens (horizontal) */
    padding: 0; /* Remover espaçamento interno */
}

li {
    /*margin: 0 10px;*/ /* Margem entre os itens (comentado para não aplicar) */
    list-style: none; /* Remover marcadores de lista */
    width: 20%; /* Largura de cada item (20% da largura total) */
    text-align: center; /* Alinhar o texto ao centro */
}

li a {
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    color: aliceblue; /* Cor do texto (azul claro) */
    text-decoration: none; /* Remover sublinhado dos links */
}


